<!doctype html>
    <html lang="en">
        <head>
            <title>Informatica y Electronica PJL</title>
            <link rel="icon" href="../static/img/informaticaelectronicapjl.png">
            <!-- Required meta tags -->
            <meta charset="utf-8" />
            <meta
                name="viewport"
                content="width=device-width, initial-scale=1, shrink-to-fit=no"
            />
    
            <!-- Bootstrap CSS v5.2.1 -->
            
    
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    
    
    
    
    
            <link
                href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
                rel="stylesheet"
                integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
                crossorigin="anonymous"
            />
            <link rel="stylesheet" type="text/css" href="../static/css/style.css">
            <link  rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
            <script src="../static/js/script.js"></script>
        </head>
        
         
       <body>
        <!----------------------------------------------comienzo del header -------------------------------------------->
        <header class="bg-black text-light fixed-top col-12 col-md-12 text-center">
            <div class="">
                <div class="row align-items-center">
                    <div class="col-md-1">
                      <a href="../index.html">
                        <img src="../static/img/informaticaelectronicapjl.png" alt="Logo de la Empresa" class="img-fluid animate__animated animate__rotateIn" id="logoheader">
                      </a>
                      </div>
                    <div class="col-md-5">
                        <h1 class="logo-text fs-1 text-center">Informática y Electrónica PJL</h1>
                    </div>
                    <div class="col-md-6">
                        <!-- Navegación y cuadro de búsqueda -->
                        <nav class="navbar navbar-expand-lg navbar-dark ">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNav">
                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="../index.html">Inicio</a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link" href="../templates/productos.html">Productos</a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link" href="../templates/servicios.html">Servicios</a>
                                    </li>
                                    <li class="nav-item ">
                                      <a class="nav-link" href="../templates/nosotros.html">Nosotros</a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link" href="../templates/ubicacion.html">Ubicacion</a>
                                      </li>
                                    <li class="nav-item ">
                                        <a class="nav-link" href="../templates/contacto.html">Contacto</a>
                                    </li>
                                    <!-- Agrega más elementos del menú según sea necesario -->
                                </ul> 
                                <form class="form-inline my-2 my-lg-0">
                                    <input class="form-control mr-sm-2 m-4" type="search" placeholder="Buscar" aria-label="Search" id="valor">
                                    
                                </form>
                                <button class="btn btn-outline-light my-2 my-sm-0 m-5" type="button" onclick="buscar()">Buscar</button>
                                
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
          <br>
          <br>
          <!----------------------------------------------comienzo del main ------------------------------------------->
        <main>
                <div class="container mt-5">
                    <h1>Tienda de Productos</h1>
                
                    <!-- Categoría 1: Electrónicos -->
                    <div class="card">
                        <div class="card-header">
                            Electrónicos
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card">
                                        <img src="../static/img/frezeer1.png" class="card-img-top" alt="Laptop">
                                        <div class="card-body">
                                            <h5 class="card-title">FREEZER  HORIZONTAL GAFA ETERNITY </h5>
                                            <p class="card-text">FREEZER  HORIZONTAL GAFA ETERNITY 410AB blanco 399L 220V  usado como nuevo, Villa Luro, CABA </p>
                                            <p class="card-text">$750.000</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Agregar más productos según sea necesario -->
                                <div class="col-md-4">
                                    <div class="card">
                                        <img src="../static/img/horno1.png" class="card-img-top" alt="Laptop">
                                        <div class="card-body">
                                            <h5 class="card-title">Mantenedor de comidas calientes</h5>
                                            <p class="card-text">Mantenedor de comidas calientes,usado como nuevo, pizzas y empandas para negocio , usado como nuevo, con regulador de temperatura cuyas medidas son largo de frente: 1,10 m , alto : 0,63m , ancho:0,82m muy poco uso en zona de Villa Luro CABA </p>
                                            <p class="card-text">$650.000</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card">
                                        <img src="../static/img/cafetera gadnic.webp" class="card-img-top" alt="Laptop">
                                        <div class="card-body">
                                            <h5 class="card-title">Cafetera Gadnic CME07 automática </h5>
                                            <p class="card-text">Cafetera Gadnic CME07 como nueva ,automática para cafe molido 220V 1350W  
                                                •	Bomba de alta presión de 20 bares
                                                •	Tanque de agua transparente desmontable de 1.8L
                                                •	Control volumétrico: preestablecido 1 taza y 2 tazas
                                                •	Con válvula de seguridad: puede liberar la presión automáticamente
                                                •	Sistema de calefacción de bloque térmico
                                                •	Soporte de filtro de aleación de aluminio adjunto con filtro SS doble para mejorar la calidad del café
                                                zona de Villa luro, CABA
                                                </p>
                                            <p class="card-text">$550.000</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="card">
                                        <img src="../static/img/aire1.png" class="card-img-top" alt="Laptop">
                                        <div class="card-body">
                                            <h5 class="card-title">Aire acondicionado Carrier split frío/calor </h5>
                                            <p class="card-text">Aire acondicionado usado Carrier split frío/calor 3001 frigorías blanco 220V •	Frigorías: 3001.
                                                •	Incluye control remoto.
                                                •	Dimensiones de la unidad externa: 720mm de ancho x 495mm de alto x 270mm de profundidad.
                                                zona de Villa luro, CABA
                                                 </p>
                                            <p class="card-text">$700.000</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card">
                                        <img src="../static/img/forzador1.png" class="card-img-top" alt="Laptop">
                                        <div class="card-body">
                                            <h5 class="card-title">FORZADOR DE CONDUCTO A RODAMIENTOS ECOCLIMA</h5>
                                            <p class="card-text">FORZADOR DE CONDUCTO A RODAMIENTOS ECOCLIMA Características
                                                Código: FCA 701 (4) / 721 (6)
                                                Peso: 3,100 kg (4) / 3,400kg (6)
                                                Tensión monofásica: 220v/50h
                                                Corriente nominal: 0,55 (4) / 0,69 (6)
                                                Protección mecánica: IPX3 zona de Villa luro, CABA
                                                Clase: 2
                                                </p>
                                            <p class="card-text">$110.000</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card">
                                        <img src="../static/img/microondas1.png" class="card-img-top" alt="Laptop">
                                        <div class="card-body">
                                            <h5 class="card-title">Microondas BGH usado</h5>
                                            <p class="card-text">Microondas BGH usado, color amarillo, Modelo 120D10. Serie 230H9B5084 , consumo máximo 1150W, zona de Villa Luro, CABA </p>
                                            <p class="card-text">$90.000</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="card">
                                        <img src="../static/img/lady3.png" class="card-img-top" alt="Laptop">
                                        <div class="card-body">
                                            <h5 class="card-title">Maquina De Tejer Lady Tricot Memorama </h5>
                                            <p class="card-text">Maquina De Tejer Lady Tricot Memorama Buen Estado , sin suplemento, zona Villa Luro CABA </p>                                                 
                                            <p class="card-text">$150.000</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card">
                                        <img src="../static/img/IMG_6147.jpg" class="card-img-top" alt="Laptop">
                                        <div class="card-body">
                                            <h5 class="card-title">3 MESAS de formica con 6 sillas reforzadas metalicas  usadas </h5>
                                            <p class="card-text">3 MESAS de formica con 6 sillas reforzadas metalicas  usadas como nuevas zona Villa Luro CABA , las medidas de la mesa son largo:0,69m , ancho:0,69m </p>                                        
                                            <p class="card-text">$360.000</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card">
                                        <img src="../static/img/IMG_6139.jpg" class="card-img-top" alt="Laptop">
                                        <div class="card-body">
                                            <h5 class="card-title">3 Banquetas metalicas , con respaldo reforzadas </h5>
                                            <p class="card-text">3 Banquetas metalicas , con respaldo reforzadas  usada como nueva zona de Villa Luro, CABA </p>
                                            <p class="card-text">$240.000</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="card">
                                        <img src="../static/img/pileta.png" class="card-img-top" alt="Laptop">
                                        <div class="card-body">
                                            <h5 class="card-title">Pileta de natación de lona BESTWAY rectangular  </h5>
                                            <p class="card-text">Pileta de natación de lona BESTWAY rectangular de 4m x 2.11m x 0.81m , con su estructura de caños correspondiente, usada como nueva, Zona de Villa Luro,  </p>                                                 </p>
                                            <p class="card-text">$150.000</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card">
                                        <img src="../static/img/todoslosrelojes.png" class="card-img-top" alt="Laptop">
                                        <div class="card-body">
                                            <h5 class="card-title">Relojes electricos indicadores de combustible, aceite, agua, amperaje marca ORBAN ROBER</h5>
                                            <p class="card-text">Relojes electricos indicadores de combustible, aceite, agua, amperaje marca ORBAN ROBER , zona de Villa luro, CABA </p>         
                                            <p class="card-text">$25.000  cada uno</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card">
                                        <img src="../static/img/cinturon.png" class="card-img-top" alt="Laptop">
                                        <div class="card-body">
                                            <h5 class="card-title">Cinturón de hombre de cuero  </h5>
                                            <p class="card-text">Cinturón de hombre de cuero con portapistola , 107 cm de largo , zona de Villa luro, CABA</p>
                                            <p class="card-text">$60.000</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="card">
                                        <img src="../static/img/araña1.png" class="card-img-top" alt="Laptop">
                                        <div class="card-body">
                                            <h5 class="card-title">ARAÑA COLGANTE</h5>
                                            <p class="card-text">Araña Colgante Paris 4 Luces Apto Led Moderno , zona de Villa luro, CABA $ 120.000</p>                                                
                                            <p class="card-text">$120.000</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card">
                                        <img src="../static/img/bateria1.png" class="card-img-top" alt="Laptop">
                                        <div class="card-body">
                                            <h5 class="card-title">BATERIA ELECTRONICA YAMAHA</h5>
                                            <p class="card-text">Batería Electrónica Yamaha (Usada) Modelo DD-65 , zona de Villa luro, CABA  $ 450.000 </p>         
                                            <p class="card-text">$450.000</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card">
                                        <img src="../static/img/gimnasio.png" class="card-img-top" alt="Laptop">
                                        <div class="card-body">
                                            <h5 class="card-title">MULTIGIMNASIO JETStream</h5>
                                            <p class="card-text">Multigimnasio JETStream , C/40kg Reforzado 30 Funcion World Fitness  Modelo STUDIO 3.5 , zona de Villa luro, CABA  $ 650.000</p>
                                            <p class="card-text">$650.000</p>
                                        </div>
                                    </div>
                                </div>






                            </div>
                        </div>
                    </div>
                
                    <!-- Categoría 2: Memorias -->
                    <div class="card mt-3">
                        <div class="card-header">
                            Electronica
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card">
                                        <img src="../static/img/teclado.jpg" class="card-img-top" alt="Camiseta">
                                        <div class="card-body">
                                            <h5 class="card-title">Memorias</h5>
                                            <p class="card-text">Descripción del producto.</p>
                                            <p class="card-text">$19.99</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Agregar más productos según sea necesario -->
                                <div class="col-md-4">
                                    <div class="card">
                                        <img src="../static/img/teclado.jpg" class="card-img-top" alt="Camiseta">
                                        <div class="card-body">
                                            <h5 class="card-title">Memorias</h5>
                                            <p class="card-text">Descripción del producto.</p>
                                            <p class="card-text">$19.99</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card">
                                        <img src="../static/img/teclado.jpg" class="card-img-top" alt="Camiseta">
                                        <div class="card-body">
                                            <h5 class="card-title">Memorias</h5>
                                            <p class="card-text">Descripción del producto.</p>
                                            <p class="card-text">$19.99</p>
                                        </div>
                                    </div>
                                </div>




                            </div>
                        </div>
                    </div>
                
                    <!-- Agregar más categorías según sea necesario -->
                
                </div>
               
        </main>

        <!----------------------------------------------comienzo del footer ------------------------------------------->

        <footer class="bg-black text-light mt-0">
            <div class=""> 
                <div class="row">
                    <div class="col-md-2 d-flex align-items-center">
                        <a href="../index.html" class="col-12 col-md-6 text-center ">
                            <img src="../static/img/informaticaelectronicapjl.png" alt="Logo de la Empresa" class="img-fluid animate__animated animate__rotateIn " id="logofooter">
                        </a>
                    </div>
                    <div class="col-md-7 text-center">
                        <!-- Datos de la empresa -->
                        <h1 id="textofooter">Informática y Electrónica PJL</h1>
                        <p>Villa Luro - Cuidad Autónoma de Buenos Aires</p>
                        
                       
                    </div>
                    <div class="col-md-3 text-center">
                        <!-- Acceso a redes sociales -->
                        <p>Síguenos en las redes sociales :</p>
                        <ul class=" list-inline ">
                            
                            <li class="list-inline-item fs-2">
                                <a href="mailto:pdrgmz@yahoo.com.ar?subject=Asunto%20del%20correo&body=Cuerpo%20del%20correo%20aquí">
                                  <i class="fa-solid fa-envelope fa-1x"></i> 
                                </a>
                    
                            </li>
                           
                            <li class="list-inline-item fs-2">
                                <a href="https://www.facebook.com" target="_blank">
                                  
                                    <i class="fa-brands fa-facebook"></i>
                                </a>
                            </li>
                            <li class="list-inline-item fs-2">
                                <a href="https://twitter.com/" target="_blank">
                                   
                                    <i class="fa-brands fa-x-twitter"></i> 
                                </a>
                            </li>
                            <li class="list-inline-item fs-2">
                                <a href="https://www.instagram.com/" target="_blank">
                                   
                                    <i class="fa-brands fa-instagram"></i>
                                </a>
                            </li>
                            <!--------------------enlace a whatsap --------------------------------------------->
                            <div class="whatsapp-icon">
                                <a href="https://wa.me/1121716505" target="_blank" style="position: fixed; bottom: 20px; right: 20px; z-index: 1000;">
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="WhatsApp" style="width: 50px; height: 50px;">
                                </a>
                            </div>
                            
                            <!-- Agrega más iconos y enlaces según sea necesario -->
                        </ul>
                    </div>
                </div>
             </div> 
    </footer>
       <!-- Bootstrap JavaScript Libraries -->
<script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"
></script>

<script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"
></script>
<script src="https://kit.fontawesome.com/3325e80655.js" crossorigin="anonymous"></script>

              
    </body>
</html>