<!doctype html>
    <html lang="en">
        <head>
            <title>Informatica y Electronica PJL</title>
            <link rel="icon" href="../static/img/informaticaelectronicapjl.png">
            <!-- Required meta tags -->
            <meta charset="utf-8" />
            <meta
                name="viewport"
                content="width=device-width, initial-scale=1, shrink-to-fit=no"
            />
    
            <!-- Bootstrap CSS v5.2.1 -->
            
    
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    
    
    
    
    
            <link
                href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
                rel="stylesheet"
                integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
                crossorigin="anonymous"
            />
            <link rel="stylesheet" type="text/css" href="../static/css/style.css">
            <link  rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
            <script src="../static/js/script.js"></script>
        </head>
        
         
       <body>
        
       <!----------------------------------------------comienzo del header --------------------------------------------->
        <header class="bg-black text-light fixed-top col-12 col-md-12 text-center">
            <div class="">
                <div class="row align-items-center">
                    <div class="col-md-1">
                      <a href="../index.html">
                        <img src="../static/img/informaticaelectronicapjl.png" alt="Logo de la Empresa" class="img-fluid animate__animated animate__rotateIn" id="logoheader">
                      </a>
                      </div>
                    <div class="col-md-5">
                        <h1 class="logo-text fs-1 text-center">Informática y Electrónica PJL</h1>
                    </div>
                    <div class="col-md-6">
                        <!-- Navegación y cuadro de búsqueda -->
                        <nav class="navbar navbar-expand-lg navbar-dark ">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNav">
                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="../index.html">Inicio</a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link" href="../templates/productos.html">Productos</a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link" href="../templates/servicios.html">Servicios</a>
                                    </li>
                                    <li class="nav-item ">
                                      <a class="nav-link" href="../templates/nosotros.html">Nosotros</a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link" href="../templates/ubicacion.html">Ubicacion</a>
                                      </li>
                                    <li class="nav-item ">
                                        <a class="nav-link" href="../templates/contacto.html">Contacto</a>
                                    </li>
                                    <!-- Agrega más elementos del menú según sea necesario -->
                                </ul> 
                                <form class="form-inline my-2 my-lg-0">
                                    <input class="form-control mr-sm-2 m-4" type="search" placeholder="Buscar" aria-label="Search" id="valor">
                                    
                                </form>
                                <button class="btn btn-outline-light my-2 my-sm-0 m-5" type="button" onclick="buscar()">Buscar</button>
                                
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
          <br>
          <br>
          <!----------------------------------------------comienzo del main -------------------------------------------->
        <main>
            <div class="container mt-5">
                <h1 class="text-center"> Nuestros Servicios</h1>
            
                <!-- Categoría 1: Electrónicos -->
                <div class="card">
                    <div class="card-header">
                        "La Tecnología que Necesitas, al Mejor Precio" 📱💻🎧
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card">
                                    <img src="../static/img/compu1.jpg" class="card-img-top" alt="Laptop">
                                    <div class="card-body">
                                        <h5 class="card-title">Reparación y mantenimiento de computadoras </h5>
                                        <p class="card-text">✅ Reparación y mantenimiento de computadoras y laptops, optimizando su rendimiento y solucionando problemas de hardware y software. </p>
                                           <p> ✅ Instalación y configuración de sistemas operativos, antivirus y programas esenciales para un uso seguro y eficiente. </p>
                                           <p> ✅ Respaldo y recuperación de datos, porque sé lo importante que es tu información personal o empresarial.</p>
                                           <p> ✅ Optimización de redes e internet, mejorando la conexión para hogares y empresas. </p>
                                           <p> ✅ Asesoría en compra de equipos, ayudándote a elegir la mejor opción según tus necesidades y presupuesto.</p>
                                        
                                    </div>
                                </div>
                            </div>
                            <!-- Agregar más productos según sea necesario -->
                            <div class="col-md-4">
                                <div class="card">
                                    <img src="../static/img/electronico1.png" class="card-img-top" alt="Laptop">
                                    <div class="card-body">
                                        <h5 class="card-title mt-5">Venta de productos electronicos</h5>
                                        
                                        <p class="card-text mt-4">✅ Smartphones, tablets y laptops para cada necesidad y presupuesto.</p>
                                        <p class="card-text">✅ Accesorios como auriculares, cargadores y parlantes para mejorar tu experiencia.</p>
                                        <p class="card-text">✅ Equipos reacondicionados y usados 100% funcionales y testeados.</p>
                                        <p class="card-text">✅ Garantía y soporte para que compres con total confianza.</p>
                                       
                                        <p class="card-text">✅ Ya sea que busques lo último en tecnología o una opción económica sin perder calidad, aquí tenemos la mejor alternativa.</p>
                                        <p class="card-text">✅ Visítanos o contáctanos hoy mismo. Te ayudaremos a encontrar lo que necesitas al mejor precio. ¡Haz que la tecnología trabaje para vos</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card">
                                    <img src="../static/img/electrodomesticos.png" class="card-img-top mb-5" alt="Laptop">
                                    <div class="card-body">
                                        <br>
                                        <h5 class="card-title mt-4">Venta de electrodomesticos nuevos y usados</h5>
                                        <p class="card-text">✅ Heladeras, lavarropas, cocinas y microondas para que tu día a día sea más fácil.</p>
                                        <p class="card-text">✅ Aires acondicionados, ventiladores y estufas para tu confort en cualquier temporada.</p>
                                        <p class="card-text">✅ Pequeños electrodomésticos como cafeteras, licuadoras y aspiradoras, indispensables para tu hogar.</p>
                                        <p class="card-text">✅ Productos usados revisados y garantizados, ¡porque calidad y buen precio pueden ir de la mano!</p>
                                        <p class="card-text">✅Queremos que tengas lo que necesitas sin gastar de más, con opciones que se ajustan a tu presupuesto.</p>

                                    </div>
                                </div>
                            </div>



                           <!--  <div class="col-md-4">
                                <div class="card">
                                    <img src="../static/img/disco1.jpg" class="card-img-top" alt="Laptop">
                                    <div class="card-body">
                                        <h5 class="card-title">Discos</h5>
                                        <p class="card-text">Descripción del producto.</p>
                                        <p class="card-text">$999.99</p>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            
                <!-- Categoría 2: Ropa -->
                <!-- <div class="card mt-3">
                    <div class="card-header">
                        Electronica
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card">
                                    <img src="../static/img/teclado.jpg" class="card-img-top" alt="Camiseta">
                                    <div class="card-body">
                                        <h5 class="card-title">Memorias</h5>
                                        <p class="card-text">Descripción del producto.</p>
                                        <p class="card-text">$19.99</p>
                                    </div>
                                </div>
                            </div>
                             Agregar más productos según sea necesario -->
                     <!--    </div>
                    </div>
                </div>  -->
            
                <!-- Agregar más categorías según sea necesario -->
            
            </div>
          
        </main>

        <!----------------------------------------------comienzo del footer -------------------------------------------->
        <footer class="bg-black text-light mt-0">
            <div class=""> 
                <div class="row">
                    <div class="col-md-2 d-flex align-items-center">
                        <a href="../index.html" class="col-12 col-md-6 text-center ">
                            <img src="../static/img/informaticaelectronicapjl.png" alt="Logo de la Empresa" class="img-fluid animate__animated animate__rotateIn " id="logofooter">
                        </a>
                    </div>
                    <div class="col-md-7 text-center">
                        <!-- Datos de la empresa -->
                        <h1 id="textofooter">Informática y Electrónica PJL</h1>
                        <p>Villa Luro - Cuidad Autónoma de Buenos Aires</p>
                        
                       
                    </div>
                    <div class="col-md-3 text-center">
                        <!-- Acceso a redes sociales -->
                        <p>Síguenos en las redes sociales :</p>
                        <ul class=" list-inline ">
                            
                            <li class="list-inline-item fs-2">
                                <a href="mailto:pdrgmz@yahoo.com.ar?subject=Asunto%20del%20correo&body=Cuerpo%20del%20correo%20aquí">
                                  <i class="fa-solid fa-envelope fa-1x"></i> 
                                </a>
                    
                            </li>
                           
                            <li class="list-inline-item fs-2">
                                <a href="https://www.facebook.com" target="_blank">
                                  
                                    <i class="fa-brands fa-facebook"></i>
                                </a>
                            </li>
                            <li class="list-inline-item fs-2">
                                <a href="https://twitter.com/" target="_blank">
                                   
                                    <i class="fa-brands fa-x-twitter"></i> 
                                </a>
                            </li>
                            <li class="list-inline-item fs-2">
                                <a href="https://www.instagram.com/" target="_blank">
                                   
                                    <i class="fa-brands fa-instagram"></i>
                                </a>
                            </li>
                            <!--------------------enlace a whatsap --------------------------------------------->
                            <div class="whatsapp-icon">
                                <a href="https://wa.me/1121716505" target="_blank" style="position: fixed; bottom: 20px; right: 20px; z-index: 1000;">
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="WhatsApp" style="width: 50px; height: 50px;">
                                </a>
                            </div>
                            
                            <!-- Agrega más iconos y enlaces según sea necesario -->
                        </ul>
                    </div>
                </div>
             </div> 
    </footer>
          
</footer>
<!-- Bootstrap JavaScript Libraries -->
<script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"
></script>

<script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"
></script>
<script src="https://kit.fontawesome.com/3325e80655.js" crossorigin="anonymous"></script>


          
</body>
</html>